dist
*classes
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/sbt_project_definition.iml
.idea
.svn
.classpath
.DS_Store
*~
*#
.#*
rat.out
TAGS
/build/
.gitignore
.project
/.settings/
contrib/.settings/
examples/.settings/
clients/.settings/
core/.settings/
contrib/hadoop-producer/.settings/
contrib/hadoop-consumer/.settings/
perf/.settings/

